@import "global/*.scss";

@import "mixins/*.scss";

* {
    box-sizing: border-box;
}
html, body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

@import "components/*.scss";

@import "sections/*.scss";