/*
 * Component: Navigation
 *
 * This component handles styling for the navigation toggler, atkins and building design logos
 * and the options menu that slides in.
 */


// Navigation Options Menu
.main-nav {
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 101%;
    z-index: 997;
    transform: translate3d(-100%, 0, 0);
    transition: transform .5s cubic-bezier(0.77,0.2,0.05,1.0);

    &.show {
        transform: translate3d(0, 0, 0);
    }

    .valign {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 40px 60px 40px 100px;
        @media screen and (orientation: landscape) and (max-width: 992px) {
            overflow: auto;
            display: block;
        }
        @include respond-from('xl') {
            padding: 40px 60px;
        }
    }
    ul {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        display: block;
        list-style: none;
        font-size: 40px;
        @include respond-from('m') {
            font-size: 32px;
        }
        @include respond-from('s') {
            font-size: 22px;
        }
        @media screen and (orientation: landscape) and (max-width: 992px) {
            font-size: 22px;
        }
    }
    ul li {
        padding: 20px 0;
        position: relative;
        &:after {
            content: "";
            width: 50px;
            height: 2px;
            background: rgba(#FFF, 0.5);
            position: absolute;
            bottom: 0;
            left: 0;
        }
        &:last-child:after {
            display: none;
        }
    }
    a {
        text-decoration: none;
        color: rgba(#FFF, 0.5);
        transition: color 0.3s ease;
        &:hover {
            color: rgba(#FFF, 1);
        }
    }

}

// Navigation Top Bar Component
.top-bar {
    position: absolute;
    width: 100%;


    // Menu Toggle Button
    #menuToggle {
        width: 50px;
        height: 45px;
        position: relative;
        background: #000;
        padding: 12px 12px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
        z-index: 999;
        position: relative;
        @include respond-to('m') {
            width: 70px;
            height: 65px;
            padding: 22px;
            .va-wrapper {
                width: 26px;
                height: 21px;
                position: relative;
                display: inline-block;
            }            
        }
    }

    #menuToggle span {
        display: block;
        position: absolute;
        height: 2px;
        width: 26px;
        background: #FFF;
        opacity: 1;
        left: 12px;
        transform: rotate(0deg);
        transition: .25s cubic-bezier(0.77,0.2,0.05,1.0);
        @include respond-to('m') {
            left: 0;
        }
    }

    #menuToggle span:nth-child(1) {
        top: 13px;
        @include respond-to('m') {
            top: 0;
        }
    }
    
    #menuToggle span:nth-child(2),#menuToggle span:nth-child(3) {
        top: 22px;
        @include respond-to('m') {
            top: 10px;
        }
    }
    
    #menuToggle span:nth-child(4) {
        top: 31px;
        @include respond-to('m') {
            top: 19px;
        }
    }
    
    #menuToggle.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
        visibility: hidden;
        opacity: 0;
    }
    
    #menuToggle.open span:nth-child(2) {
        transform: rotate(45deg);
    }
    
    #menuToggle.open span:nth-child(3) {
        transform: rotate(-45deg);
    }
    
    #menuToggle.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
        visibility: hidden;
        opacity: 0;
    }

    // Building Design Logo
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        &::after {
            content: "";
            width: 132px;
            height: 100%;
            background: #FFFFFF;
            position: absolute;
            left: 100%;
            top: 0;
            background: url('../images/building_design.svg') #FFFFFF no-repeat;
            background-position: center;
            background-size: contain;
            z-index: 990;
            @include respond-to('m') {
                width: 160px;
            }
        }
    }

    // Atkins Logo
    .logo {
        width: 115px;
        height: 45px;
        position: absolute;
        top: 0;
        right: 0;
        background: url('../images/atkins_logo.svg') rgba(255,255,255, 0.5) no-repeat;
        background-size: 70%;
        background-position: center;
        z-index: 990;
        @include respond-to('m') {
            width: 160px;
            height: 65px;
        }
    }
    
}