#preloader {
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;

    p {
        font-size: 32px;
        color: #FFF;
        text-align: center;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        margin-top: 80px;
        letter-spacing: 2px;
        @include respond-from('s') {
            font-size: 24px;
            margin-top: 50px;
        }
    }
    .loader{
        width:280px;
        height:100px;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        background:#000;
        filter: blur(10px) contrast(20);
    }
    .blob-1,.blob-2{
        width:40px;
        height:40px;
        position:absolute;
        background:#fff;
        border-radius:50%;
        top:50%;left:50%;
        transform:translate(-50%,-50%);
    }
    .blob-1{
        left:20%;
        animation:osc-l 2.5s ease infinite;
    }
    .blob-2{
        left:80%;
        animation:osc-r 2.5s ease infinite;
        background:#D43526;
    }
    @keyframes osc-l{
        0%{left:20%;}
        50%{left:50%;}
        100%{left:20%;}
    }
    @keyframes osc-r{
        0%{left:80%;}
        50%{left:50%;}
        100%{left:80%;}
    }
}
