.section-landing {
    height: 100vh;
    width: 100%;
    position: relative;
    
    .carasouel, 
    .slick-list.draggable, 
    .slick-track {
        height: 100%;
        width: 100%;
    }

    .carasouel { visibility: hidden; }
    .slick-initialized { visibility: visible; }
    
    .slick-slide {
        position: relative;
    }
    
    .carasouel-slide {
        background-size: cover;
        background-position: center;
    }
    
    .carasouel-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50px;
        @include respond-from('m') {
           left: 20px;
        }
        @include respond-from('s') {
            left: 20px;
            right: 20px;
        }
    
        .title {
            font-size: 32px;
            color: #FFF;
            margin-bottom: 1rem;
        }

        .snippet {
            font-size: 16px;
            color: #DDD6D6;
            background: #D43526;
            padding: 15px;
            width: 100%;
            max-width: 408px;
            line-height: 25px;
            @include respond-from('m') {
                max-width: 320px;
            }
            @include respond-from('s') {
                max-width: initial;
            }
        }

        // Animation Overrides 
        &.hidden { visibility: hidden; }
        &.hidden.animated { 
            visibility: visible; 
            animation-duration: 0.5s; 
        }
        
    }
    
}




